 .navbar-brand {
   display: flex;
   align-items: center;
 }

 .navbar-brand img {
   display: block;
 }

 .navbar-brand h1 {
   font-size: 1.5rem;
   margin: 0;
 }


 .banner {
   background-image: url(../assets/background.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 780px;
   margin-inline: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   #conteudo_banner {
     color: white;
     display: flex;
     gap: 32px;
     flex-direction: column;
     align-items: center;

     h1 {
       font: var(--title-lg);
     }

     p {
       color: aliceblue;
     }

     h3 {
       font: var(--title-md);
     }

     .subtitulo {
       display: flex;
       flex-direction: column;
       align-items: center;
       gap: 8px;
     }
   }
 }