#sobre_nos {
  display: flex;
  flex-direction: column;
  align-items: center;

  & h4 {
    margin-bottom: 21px;
    font: var(--title-sm);
  }

  & h2 {
    font: var(--title-md);
    margin-bottom: 68px;
    color: var(--base-blue);
  }

  & .nossa_historia {
    display: flex;
    gap: 135px;
    align-items: center;

    & img {
      width: 584px;
      height: 365px;
      border-radius: 12px;
    }

    & div {
      display: flex;
      flex-direction: column;
      gap: 14px;
      max-width: 460px;

      & h3 {
        font: var(--title-sm);
      }

      & p {
        font: var(--text-md);
      }

    }
  }
}